/* Style global */
body {
  --color: #b67332; /* Marron clair */
  --bgColor: #eee6d8; /* Beige clair */
  min-height: 100vh;
  display: grid;
  align-content: center;
  gap: 2rem;
  padding: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--color);
  background: var(--bgColor);
}

/* En-tête */
header {
  background-color: rgba(
    218,
    171,
    58,
    0.8
  ); /* Jaune doré avec transparence (0.8) */
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Assure-toi que le header reste au-dessus du contenu */
  backdrop-filter: blur(
    10px
  ); /* Optionnel : Ajoute un effet de flou si tu veux */
  transition: background-color 0.3s ease; /* Pour ajouter une transition lors du défilement si nécessaire */
}

/* Ajuste le conteneur du header */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 15px;
}

/* Style pour les liens du header */
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
}

/* L'élément de soulignement (invisible au départ) */
nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #eee6d8;
  transition: width 0.3s ease;
}

/* Soulignement visible au hover */
nav ul li a:hover::after {
  width: 100%;
}

/* Lorsque le header devient opaque au scroll (optionnel) */
.header-scroll {
  background-color: rgba(218, 171, 58, 1);
}

/* Contenu principal */
main {
  padding: 40px 20px;
}

main .container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Sections avec fond clair */
section {
  margin-bottom: 40px;
  padding: 20px;
  background: #eee6d8; /* Fond beige clair */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

h2 {
  margin-top: 0;
  color: #b67332; /* Marron clair */
}

/* Style du bouton de téléchargement du CV */
.btn-cv {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #b67332; /* Marron clair */
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-cv:hover {
  background-color: #8a4f24; /* Marron plus foncé au hover */
  transform: translateY(-3px); /* Légère translation au hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au hover */
}

/* À propos de moi */
.about-me {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-photo {
  max-width: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Section des compétences techniques */
#skills {
  padding: 40px 20px;
  background: #eee6d8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

#skills h2 {
  text-align: center;
  color: #b67332;
  margin-bottom: 20px;
}

/* Conteneur général des outils et compétences */
.tools-container,
.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

/* Style des cartes de compétences et d'outils */
.tool,
.skill {
  background-color: #e5e7e6; /* Fond gris clair */
  text-align: center;
  width: 150px; /* Largeur de la carte */
  height: 150px; /* Hauteur de la carte */
  border-radius: 8px; /* Coins arrondis */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transition douce pour hover */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer verticalement */
  align-items: center; /* Centrer horizontalement */
  padding: 10px; /* Ajout de padding intérieur */
}

/* Logo centré dans la carte */
.tool img,
.skill img {
  max-width: 60px; /* Taille maximale du logo */
  height: auto;
  display: block;
  margin: 0 auto; /* Centré horizontalement */
  object-fit: contain; /* Maintenir le ratio du logo */
}

/* Texte en bas de la carte */
.tool p,
.skill p {
  font-size: 0.9rem; /* Taille du texte */
  font-weight: bold;
  color: #333;
  margin: 10px 0 0 0;
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); /* Ligne subtile entre le logo et le texte */
}

/* Effet de hover */
.tool:hover,
.skill:hover {
  transform: translateY(-5px); /* Légère élévation au hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus marquée */
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Timeline container */
#timeline-section ul.timeline {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
}
#timeline-section ul.timeline::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: #daab3a; /* Jaune doré */
  border-radius: calc(var(--line-w) / 2);
}

#timeline-section ul.timeline li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

#timeline-section ul.timeline li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

#timeline-section ul.timeline li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

#timeline-section ul.timeline li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

#timeline-section ul.timeline li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

#timeline-section ul.timeline li .title,
#timeline-section ul.timeline li .descr {
  background: #e5e7e6;
  position: relative;
  padding-inline: 1.5rem;
}

#timeline-section ul.timeline li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
  color: #b67332; /* Marron clair */
}

#timeline-section ul.timeline li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
  color: #333;
}

#timeline-section ul.timeline li .title::before,
#timeline-section ul.timeline li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}

#timeline-section ul.timeline li .title::before {
  bottom: calc(100% + 0.125rem);
}

#timeline-section ul.timeline li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

/* Media Query for larger screens */
@media (min-width: 40rem) {
  #timeline-section ul.timeline {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }

  #timeline-section ul.timeline::before {
    grid-column: 2;
  }

  #timeline-section ul.timeline li:nth-child(odd) {
    grid-column: 1;
  }

  #timeline-section ul.timeline li:nth-child(even) {
    grid-column: 3;
  }

  #timeline-section ul.timeline li:nth-child(2) {
    grid-row: 2/4;
  }

  #timeline-section ul.timeline li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  #timeline-section ul.timeline li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }

  #timeline-section ul.timeline li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

.credits {
  margin-top: 1rem;
  text-align: right;
}

.credits a {
  color: var(--color);
}

/* Style pour les modales (pop-ups) */
.modal {
  display: none; /* Cacher par défaut */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fond sombre transparent */
  overflow: auto;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.5rem;
  color: #aaa;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover {
  color: #000;
}

/* Style du footer avec la couleur de l'ancien */
footer {
  background-color: #daab3a; /* Couleur de ton ancien footer (Jaune doré) */
  color: #fff;
  padding: 20px 0;
}

footer .container {
  display: flex;
  justify-content: space-between; /* Espacement entre les sections */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap; /* Pour s'assurer que tout se place correctement sur mobile */
  text-align: center;
}

/* Contact email et téléphone */
.contact-info {
  text-align: left; /* Aligne le texte à gauche */
}

.contact-info p {
  margin: 5px 0; /* Espacement entre les lignes */
}

.contact-info a {
  color: #fff; /* Couleur du lien en blanc */
  text-decoration: none; /* Pas de soulignement pour les liens */
}

.contact-info a:hover {
  text-decoration: underline; /* Soulignement au survol */
}

/* Section des icônes sociales */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icons a img {
  width: 20px;
  height: 20px;
}

.social-icons a:hover {
  transform: scale(1.1); /* Légère mise à l'échelle au survol */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre plus marquée au survol */
}

/* Section Copyright */
footer p {
  margin: 0;
  font-size: 0.9rem;
}

/* Pour les petits écrans, placer les éléments verticalement */
@media (max-width: 768px) {
  footer .container {
    flex-direction: column;
  }

  .contact-info,
  .social-icons,
  footer p {
    margin-bottom: 10px;
  }
}
